body{
	/*background: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-69452.jpg);*/
	/*background: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-78913.jpg);*/
	/*background: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-76543.jpg);*/
	background: url(http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-71602.jpg) fixed;
}
.app-layout{
	min-width: 1000px;
}
.app-top{
	background:#38362e;
	padding:10px;
	
}
.app-top .user-wrapper{
	
}
.app-top .user-photo{
	min-width: 75px;
	position: relative;
}
.app-top .badge{
	position: absolute;
	top:0;
	right: 0;
	background: #f16767;
}
.app-top .search,
.app-top .add-subject{
	margin-top:6px;
}
.app-status{
	background: #f5f5f5;
}
.progress{
	margin-bottom:0;
}
.app-container{
	
}
.app-sider-bar{
	
}
.app-calendar{
	border-left:5px solid #f16767;
	border-bottom:1px solid #f16767;
	background: #fff;
	padding:10px 0;
}
.app-filter{
	border-left:5px solid #f7c763;
	border-bottom:1px solid #f7c763;
	background: #fff;
}
.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus{
	background: #5bc0de;
	border-color: #5bc0de;
}
.app-filter .list-group{
	margin-bottom: 0;
}
.app-filter .list-group-item:first-child {
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.app-filter .list-group-item:last-child {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.app-task-operation{
	border-left:5px solid #5bc0de;
	border-bottom:1px solid #5bc0de;
	background: #fff;
	padding:30px;
}
.app-add-task{
	border-right:0;
}
.app-content{
	
}
.app-time-line ul{
	position: relative;
	padding: 0;
	list-style: none;
	padding-top: 50px;
	padding-bottom: 50px;
}
.app-time-line ul:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #fff;
	left:50px;
}
.app-time-line ul li{
	position: relative;
	margin-bottom: 50px;
}
.app-task-author{
	position: absolute;
	left:50px;
	top:50%;
	margin-top:-25px;
	margin-left: -25px;
}
.app-task-author-photo-wrapper{
	position: relative;
	width: 50px;
}
.app-task-author-photo-wrapper .app-task-author-name{
	display: none;
}
.app-task-author-photo-wrapper:hover .app-task-author-name{
	display: block;
	visibility: visible;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 50px;
	background: rgba(0,0,0,0.5);
	color: #fff;
}
.app-task-created-time{
	position: absolute;
	left:50px;
	top:50%;
	margin-top:30px;
	margin-left:-40px;
	background: #fff;
	border-radius: 3px;
	padding:0 5px;
}
.app-task{
	position: relative;
	margin-left:110px;
	margin-right: 30px;
	background: rgba(255,255,255,0.5);
	
	border-radius: 5px;
}
.app-task:before{
	position: absolute;
	right:100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	pointer-events: none;
	border-right-color: rgba(255,255,255,0.5);
	border-width: 10px;
	margin-top:-10px;
}
.app-task-info{
	padding:5px 30px;
	width: 72%
}
.app-task-info h3{
	font-size: 16px;
}
.app-task-info h3 kbd{
	margin-left: 3px;
	font-size: 12px;
}
.app-task-info p{
	color: #666;
	font-size: 12px;
}
.app-task-spend-days{
	position: absolute;
	top:-20px;
	right: 0;
}
.app-task-completion-time{
	position: absolute;
	bottom:-20px;
	right: 0;
}
.app-task-owner{
	width:110px;
	position: absolute;
	right: 70px;
	top:50%;
	margin-top:-25px;
}
.app-task-owner .pull-left{
	height: 50px;
	line-height: 50px;
}
.app-circle-wrapper{
	/*position: relative;*/
	background: #fff;
	width:70px;
	height: 100%;
}
.app-circle {
    width: 50px;
    height: 50px;  
    position: absolute;
    border-radius: 50%;
    background: #42d49b;
    top: 50%;
    right: 10px;
    margin-top:-25px;
}
.app-circle-progressing{
	background: #64d4f9;
}
.app-pie-left, .app-pie-right {
    width: 50px; 
    height: 50px;
    position: absolute;
    top: 0;left: 0;
}
.left, .right {
    display: block;
    width:50px; 
    height:50px;
    background:#e2e2e2;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    /*transform: rotate(30deg);*/
}
.app-pie-right, .right {
    clip:rect(0,auto,auto,25px);
}
.app-pie-left, .left {
    clip:rect(0,25px,auto,0);
}
.app-circle-mask {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 5px;
    top: 5px;
    background: #FFF;
    position: absolute;
    text-align: center;
    line-height: 40px;
}


















